dvc
dvc-gdrive
streamlit
joblib==1.4.2
requests
fastapi==0.110.0
pydantic==2.6.4
pydantic_core==2.16.3
mlflow>=3.1.0
mkdocs==1.6.0
mkdocs-material==9.5.31
uvicorn
xgboost
pytest
pandas
numpy
pytest-mock
imbalanced-learn>=0.13.0